<template>
  <div class="arrow-back" @click="back">
    <i class="material-icons small">arrow_back</i>
  </div>
</template>

<script>
  export default {
    name: "ArrowBack",
    methods:{
      back() {
        this.$router.go(-1)
      }
    }
  }
</script>
