<template>
  <div>
    <div class="title" v-if="resultsCount">{{foundResults + ' encontrados'}}</div>
    <div class="filter-component-table" :style="`    overflow-y: scroll; height: ${vh}`" @scroll="scroll" id="filter">
      <div class="col s12">
        <table :class="'table ' + materializeClassTable " v-if="ready">
          <thead>
          <tr v-if="search" class="table-header">
            <th v-if="showCountColumn" style="color: white">#</th>
            <th v-for="(title, titleIndex) in titles">
              <div class="filter-component-container-title">
                <div class="input-field-light zero_margin input_custom_container ">
                  <input :id="title.key" class="input_custom" type="text" :placeholder="title.title"
                         @keydown="clearTimer" @keyup="startTimer">
                </div>
                <div class="filter-component-sort-icon" @click="sorting(title.key)">
                  <i :class="'fas fa-'+ currentSorts[title.key]"></i>
                </div>
              </div>
            </th>
          </tr>
          <tr v-if="!search">
            <th v-if="showCountColumn">#</th>
            <th v-for="title in titles">
              <span>{{title.title}}</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(row,index) in renderList" class="table-row">
            <td v-if="showCountColumn">{{index + 1 + indexScroll + (page * rowsViewPage)}}</td>

            <td @click="rowPicked(row)" :style="`${picked ? 'cursor: pointer;' : 'cursor: text;'}`"
                class="letra-chica" v-for="title in titles"><i :class="`fa fa-circle ${row[title.color]}`"
                                                               style="margin-right: 0.5rem; font-size: 1.3rem"
                                                               aria-hidden="true" v-if="title.color"></i>
              {{row[title.key]}}
            </td>
            <td v-if="edit" style="color: #4268ff" @click="editPicked(row)"><i class="material-icons">create</i>
            </td>
            <td v-if="clear" style="color: #ff4939" @click="clearPicked(row)"><i class="material-icons">close</i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" style="display: flex; justify-content: center; margin-bottom: 0;" v-if="viewPages.length > 1">
      <div class="col" v-for="index in viewPages" style="cursor: pointer" @click="setPage(index - 1)">
        <p v-if="index === page + 1"><b>{{index}}</b></p>
        <p v-else>{{index}}</p>
      </div>
    </div>
  </div>
</template>

<script>
  let nonSortArray = []
  let listBackup = []
  let isScroll = false
  let isPage = false
  let searches = {}
  let filteredList = []
  let pageList = []
  let waitingTyping = 200
  let typingTimer

  export default {
    name: "FilterComponent",
    props: {
      search: {type: Boolean, default: false},
      clear: {type: Boolean, default: false},
      resultsCount: {type: Boolean, default: false},
      edit: {type: Boolean, default: false},
      picked: {type: Boolean, default: false},
      vh: {type: String, default: `68vh`},
      rowsView: {type: Number, default: 30},
      rowsViewPage: {type: Number, default: 100000000},
      isSelectable: {type: Boolean, default: false},
      titleClass: {type: String, default: ''},
      showCountColumn: {type: Boolean, default: false},
      materializeClassTable: {type: String, default: ''},
    },
    data() {
      return {
        indexScroll: 0,
        page: 0,
        currentSorts: {},
        numberPages: 0,
        renderList: [],
        foundResults:0,
        keys:[],
        ready : false,
        rowsViewRendered: Math.max(30, this.rowsView)%2===1? Math.max(30, this.rowsView) : Math.max(30, this.rowsView)+1
      }
    },
    methods: {
      setPage(page) {
        this.page = page
        filter.scroll({top: 0})
        this.updatePageList()
      },
      scroll(event) {
        if (event.srcElement.scrollHeight - event.srcElement.clientHeight <= event.srcElement.scrollTop + 2 && this.indexScroll + this.rowsView < this.rowsViewPage) {
          if (!(this.page + 1 == this.numberPages && this.indexScroll + 20 >= pageList.length)) {
            this.indexScroll += Math.round(this.rowsView / 2)
            event.srcElement.scroll({top: (event.srcElement.scrollHeight / 2) - event.srcElement.clientHeight + 10,})
            this.updateRenderList()
          }
        } else if (event.srcElement.scrollTop < 25 && this.indexScroll - 10 >= 0) {
          this.indexScroll -= Math.round(this.rowsView / 2)
          event.srcElement.scroll({top: (event.srcElement.scrollHeight / 2)})
          this.updateRenderList()

        }
      },
      rowPicked(row) {
        this.$emit("rowPicked", row)
      },
      clearPicked(row) {
        this.$emit("clearPicked", row)
      },
      editPicked(row) {
        this.$emit("editPicked", row)
      },
      clearTimer(){
        clearTimeout(typingTimer)
      },
      startTimer(event){
        this.clearTimer()
        typingTimer = setTimeout(()=>this.filter(event), waitingTyping)
      },
      filter(event) {
        console.log('filtrando')
        if (event.target.value + ''==='') delete searches[event.target.id]
        else searches[event.target.id] = event.target.value + ''
        this.$emit("search", searches)
        filteredList = listBackup.slice()
        Object.keys(searches).forEach(key => {
          const filterValue = searches[key].toLowerCase()
          if (filterValue !== '') filteredList = filteredList.filter(item => (item[key] + '').toLowerCase().includes(filterValue))
        })
        nonSortArray=filteredList.slice()
        this.keys.forEach(k=>this.currentSorts[k.key]='sort')
        isPage = (filteredList.length > this.rowsViewPage)
        this.foundResults = filteredList.length
        const auxNumberPages =  Math.floor(filteredList.length / this.rowsViewPage)
        this.numberPages = (filteredList.length % this.rowsViewPage) ? auxNumberPages + 1 : auxNumberPages
        this.page = 0
        this.updatePageList()
      },
      sorting(key) {
        console.log('try to sort ', key)
        const currentSort = this.currentSorts[key]
        if (currentSort === 'sort') this.currentSorts[key] = 'sort-down'
        else if (currentSort === 'sort-down') this.currentSorts[key] = 'sort-up'
        else this.currentSorts[key] = 'sort'
        const aux = this.currentSorts
        this.currentSorts = []
        this.currentSorts = aux
        let keyFiltered, typeOFilter = ''
        this.keys.forEach((k)=>{
          if (this.currentSorts[k.key]!=='sort'){
            keyFiltered = k.key
            typeOFilter = this.currentSorts[k.key]
          }
        })
        if(keyFiltered){
          this.$emit("sort", {key:keyFiltered,type:typeOFilter})
          filteredList = filteredList.sort((a,b)=>{
            const auxA=a[keyFiltered].toLowerCase(), auxB=b[keyFiltered].toLowerCase()
            if(typeOFilter==='sort-up'){
              if (auxA < auxB) return -1
              if (auxA > auxB) return 1
            }else{
              if (auxA < auxB) return 1
              if (auxA > auxB) return -1
            }
            return 0
          })
        }else{
          this.$emit("sort", undefined)
          filteredList = nonSortArray.slice()
        }
        this.updatePageList()
      },
      updateList(list, keys){
        console.log('updating list ', list.length)
        listBackup = list.slice()
        filteredList = listBackup.slice()
        nonSortArray = listBackup.slice()
        isScroll = (this.rowsViewPage > this.rowsView)
        isPage = (listBackup.length > this.rowsViewPage)
        this.foundResults = listBackup.length
        const auxNumberPages = Math.floor(listBackup.length / this.rowsViewPage)
        this.numberPages = (listBackup.length % this.rowsViewPage) ? auxNumberPages + 1 : auxNumberPages
        this.indexScroll = 0
        this.keys=keys
        this.$nextTick(()=>this.keys.forEach(key => this.currentSorts[key.key] = 'sort'))
        this.updatePageList()
        this.ready = true
      },
      updatePageList() {
        if (isPage) pageList = filteredList.slice((this.page * this.rowsViewPage), ((this.page + 1) * this.rowsViewPage))
        else pageList = filteredList.slice()
        this.indexScroll = 0
        this.updateRenderList()
      },
      updateRenderList() {
        if (isScroll) this.renderList = pageList.slice(this.indexScroll, Math.min(pageList.length, (this.rowsView + this.indexScroll)))
        else this.renderList = pageList.slice()
      }
    },
    computed: {
      titles() {
        if (!this.keys.length) return Object.keys(listBackup[0])
        let titles = []
        Object.keys(listBackup[0]).forEach(title => {
          let key = this.keys.find(key => key.key == title)
          if (key) titles.push(key)
        })
        return titles
      },
      viewPages() {
        if (this.numberPages <= 7) {
          let a = []
          for (let i = 1; i <= this.numberPages; i++)
            a.push(i)
          return a
        }
        if (this.page >= 0 && this.page <= 2)
          if (this.numberPages > 7) return [1, 2, 3, 4, 5, 6, 7]
          else {
            let a = []
            for (let i = 1; i <= this.numberPages; i++)
              a.push(i)
            return a
          }
        if (this.page >= this.numberPages - 3 && this.page <= this.numberPages) {
          return [this.numberPages - 6, this.numberPages - 5, this.numberPages - 4, this.numberPages - 3, this.numberPages - 2, this.numberPages - 1, this.numberPages]
        } else {
          return [this.page - 2, this.page - 1, this.page, this.page + 1, this.page + 2, this.page + 3, this.page + 4]
        }
      }
    }
  }
</script>


<style scoped>

  .filter-component-table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(132, 172, 153, 0.3);
    background-color: #F5F5F5;
  }

  .filter-component-table::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #F5F5F5;
  }

  .filter-component-table::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
  }

  .card-panel {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .movimientos {
    width: 94%;
    margin-left: 3%;
    max-height: 83vh;
    padding: 0 !important;
  }

  .custom_table_body {
    max-height: 83vh;
    overflow-y: auto;
  }

  th {
    border-radius: 0 !important;
  }

  .main {
    margin-top: 20px;
  }

  .card-panel {
    padding-top: 5px;
  }

  .zero_margin {
    padding: 0 !important;
    margin: 0 !important;
  }

  .table-header {
    background: var(--primaryColor);
  }

  .input_custom {
    color: white;
    border-bottom: 1px dashed var(--primaryLightColor);
    height: 1.5rem !important;
  }

  .input_custom_container {
    height: 1.5rem !important;
    width: calc(100% - 30px);
  }

  .filter-component-sort-icon {
    width: 20px;
    cursor: pointer;
  }

  .filter-component-container-title {
    display: flex;
    justify-content: space-between;
  }

  .selectableB:hover {
    background-color: #cfd8dc;
  }

  .color-exportado {
    color: #d20f46;
  }

  .color-none {
    display: none;
  }

  .color-activo {
    color: #46af4b;
  }

  .color-preactivo {
    color: #1194f6;
  }

  .color-inactivo {
    color: #ffc200;
  }

  .color-capa-d {
    color: #ff7100;
  }

  .color-altas {
    color: #00816a;
  }
</style>
