<template>
  <ul id="menu" class="collapsible accordion with-header menu-lateral col s1 m3 l2 menu-container"
      style="z-index: 50; overflow-y: auto">
    <div class="center-align" v-if="logo"><img class="logo" :src="logo" alt=""/></div>
    <li v-for="route in routes" v-if="permissions(route)">
      <div class="collapsible-header collection-item truncate "
           v-if="route.children && permissions(route) === 1"
           @click="moveToRoute(routePermissions(route).name, routePermissions(route).params)">
        <i class="material-icons">{{route.icon}}</i>
        <span class="hide-on-small-only ">{{route.tittle}} </span>
      </div>
      <div class="collapsible-header collection-item truncate dropdown-trigger" v-else-if="route.children"
           style="padding-right: 0 !important;"
           :data-target='route.path'>
        <i class="material-icons">{{route.icon}}</i>
        <span class="hide-on-small-only ">{{route.tittle}} </span>
        <i class="material-icons tiny" style="margin-left: auto; margin-right: 0;">more_vert</i>
      </div>
      <div class="collapsible-header collection-item truncate" @click="moveToRoute(route.name, route.params)" v-else>
        <i class="material-icons">{{route.icon}}</i>
        <span class="hide-on-small-only">{{route.tittle}}</span>
      </div>
      <ul :id='route.path' class='dropdown-content' style="position: fixed; left: 16.89% !important; height: auto"
          v-if="route.children">
        <li v-for="child in route.children" v-if="permissions(child)">
          <p class="collection-item" @click="moveToRoute(child.name, child.params)" style="position: relative"><i
            class="material-icons m_10" v-if="child.icon">{{child.icon}}</i> <span style="position: absolute;
    margin-left: 1rem;
    top: 1.1rem;">{{child.tittle}}</span></p>
        </li>
      </ul>
    </li>
    <li>
      <div class="collapsible-header collection-item truncate" @click="logout">
        <i class="material-icons">arrow_back</i>
        <span class="hide-on-small-only">Cerrar sesión</span>
      </div>
    </li>
  </ul>
</template>

<script>
  export default {
    name: "NavbarComponent",
    props: {
      routes: {type: Array, required: true},
      user: {type: Object, required: true},
      logo: {type: String, required: false}
    },
    methods: {
      routePermissions(route) {
        return route.children.find(children => {
          return children.permissions.find(permission => permission === this.user.role)
        })
      },
      permissions(route) {
        if (route.children && route.children.length) return route.children.filter(children => {
          return children.permissions.find(permission => permission === this.user.role)
        }).length
        return route.permissions.find(permission => permission === this.user.role)
      },
      moveToRoute(name, params) {
        console.log(name, params)
        this.$router.push({name, params})
      },
      logout() {
        this.$emit('logout')
      }
    },
    mounted() {
      this.$nextTick(() => {
        M.AutoInit()
        M.Collapsible.init(document.getElementById("menu"), {
          accordion: false
        })
      })
    }
  }
</script>

<style scoped>
  .dropdown-content {
    left: 16.8% !important;
  }

  .collapsible-header {
    background-color: white !important;
  }

  .menu-lateral {
    height: 100vh;
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    padding: 0 !important;
  }

  .collection-item {
    padding: 15px !important;
    margin: 0 !important;
  }

  .collapsible-header:hover {
    background-color: var(--primaryDarkColor) !important;
    color: white;
  }

  li {
    width: 100%;
    font-size: 14px;

  }

  .active {
    background-color: var(--primaryDarkColor) !important;
    color: black;
  }

  .active > .collapsible-header {
    background-color: var(--primaryDarkColor) !important;
    color: white;
  }

  .dropdown-content > li {
    background-color: white !important;
    color: black;
  }

  .dropdown-content > li:hover {
    background-color: var(--primaryDarkColor) !important;
    color: white;
  }

  .dropdown-content {
    left: 16.8% !important;
    background: var(--primaryDarkColor);
    color: black;
    overflow-y: inherit !important;
  }


  li {
    margin-left: 0px;
  }

  .menu-container {

    height: 94%;
    top: 0%;
    border: none !important;
    color: black;
  }

  .logo {
    max-width: 60%;
    padding: 20px 40px;

  }

</style>


