<template>
  <div id="app">
    <h1>hola</h1>
    <FilterComponent :list="list" :keys="keys" :rowsViewPage="5" :search="true" class="tumama"></FilterComponent>
  </div>
</template>

<script>
  import FilterComponent from "../FilterComponent";

  export default {
    name: 'app',
    components: {
      FilterComponent
    },
    data() {
      return {
        keys: [
          {key: 'fila', title: 'fila', color: `colorFila`},
          {key: 'llave 1', title: 'llave 1', },
          {key: 'llave 2', title: 'llave 2', },
          {key: 'llave 3', title: 'llave 2', },
          {key: 'llave 4', title: 'llave 3', }

        ],
        list: [
          {
            'fila': "",
            'llave 1': "cosa 1",
            'llave 2': "cosa 2",
            'llave 3': "cosa 3",
            'llave 4': "cosa 4",
            'llave 5': "cosa 5",
            colorFila:`color-activo`
          },
          {
            'fila': "",
            'llave 1': "cosa 1",
            'llave 2': "cosa 2",
            'llave 3': "cosa 3",
            'llave 4': "cosa 3",
            'llave 5': "cosa 5",
            colorFila:`color-activo`
          },
          {
            'fila': "",
            'llave 1': "cosa 1",
            'llave 2': "cosa 2",
            'llave 3': "cosa 5",
            'llave 4': "cosa 6",
            'llave 5': "cosa 5",
            colorFila:`color-activo`
          },
          {
            'fila': "",
            'llave 1': "cosa 1",
            'llave 2': "cosa 2",
            'llave 3': "cosa 3",
            'llave 4': "cosa 4",
            'llave 5': "cosa 5",
            colorFila:`color-preactivo`
          }
        ],
        msg: 'Welcome to Your Vue.js App'
      }
    }
  }
</script>

<style lang="scss">


  :root {
    --primaryColor: #1622b2;
    --primaryLightColor: #5f4de5;
    --primaryDarkColor: #000081;
    --primaryTextColor: #ffffff;
    --secondaryColor: #2d8de5;
    --secondaryDarkColor: #0060b2;
    --secondaryTextColor: #000000;
  }

  .tumama th{
    background: #46af4b !important;
    color: white !important;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 14px;
  }

  main {
    flex: 1 0 auto;
  }

  .dropdown-content li > a, .dropdown-content li > span {
    color: var(--primaryColor);
  }

  .input-field .prefix.active {
    color: var(--primaryColor);
  }

  .input-field input[type]:focus {
    border-bottom: 1px solid var(--primaryColor) !important;
    box-shadow: 0 1px 0 0 var(--primaryColor) !important;
  }

  .input-field input[type]:focus + label {
    color: var(--primaryColor) !important;
  }

  .input-field-light .prefix.active {
    color: var(--primaryTextColor);
  }

  .input-field-light {
    color: white;
    height: 1.5rem !important;
  }

  .input-field-light input[type]:focus {
    border-bottom: 1px dashed var(--primaryTextColor) !important;

  }

  .input-field-light input[type]:focus + label {
    color: var(--primaryTextColor) !important;
  }

  .select-wrapper input.select-dropdown {
    border-bottom: 2px solid var(--primaryColor) !important;
  }

  .blue-grey.darken-2 {
    background-color: var(--primaryColor) !important;
  }

  .blue-grey.darken-1 {
    background-color: var(--primaryColor) !important;
  }

  .blue-grey.darken-3 {
    background-color: var(--primaryColor) !important;
  }

  .progress {
    height: 5px;
    position: fixed;
    background-color: #95b1c1;
    margin: 0 0 0 0;
    z-index: 1000;
  }

  .progress .indeterminate {
    background-color: var(--primaryColor) !important;
  }

  .barra-invisible {
    height: 5px;
    position: fixed;
  }

  .picker__date-display {
    background-color: var(--primaryColor) !important;
  }

  #toast-container {
    max-width: 40%;
  }

  .page-footer {
    z-index: 100;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: white;
    height: 50px;
    padding: 0;
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;

  }

  ::-webkit-scrollbar-track {
    background: white;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--primaryColor);
  }

  .belilim-back {
    position: absolute;
    left: 0.5rem;
    top: 1rem;
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--primaryDarkColor);
  }

  .main {
    margin-top: 20px;
  }

  .selectable:hover {
    cursor: pointer;
  }

  .td_selectable:hover {
    cursor: pointer;
    background: #cfd8dc;
  }

  .datepicker-date-display{
    background-color: var(--primaryDarkColor)!important;

  }

  .datepicker-table td.is-selected{
    background-color: var(--primaryColor);
    color: white!important;
  }

  .datepicker-cancel{
    color: var(--primaryColor);
  }

  .datepicker-done{
    color: var(--primaryColor);
  }

  .datepicker-table td.is-today{
    color: red;
  }

  [type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
    float: left;
    color: black;
    font-size: 1.5em;
    margin-bottom: 8px;
  }

  [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid var(--primaryColor);
  }

  [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: var(--primaryColor);
  }

  [type="checkbox"].filled-in:checked+span:not(.lever):after{
    border: 2px solid var(--primaryColor)!important;
    background-color: var(--primaryColor)!important;
  }

  .tab{
    background-color: var(--primaryColor);
  }

  .tabs .tab a:hover, .tabs .tab a.active {
    color: white;
  }

  .tabs .tab a {
    color: rgba(110, 115, 238, 0.7);

  }

  .tabs .indicator {
    background: white;
  }

  .vuecal__title-bar{
    color: white !important;
  }

  .vuecal__today-btn{
    color: white !important;
  }

  .vuecal__arrow{
    color: white !important;
  }

  .vuecal__menu, .vuecal__cell-events-count {background-color: var(--primaryColor);}

  .vuecal__menu button {border-bottom-color: #fff;color: #fff;}

  .vuecal__menu button.active {background-color: var(--primaryColor);}

  .vuecal__title-bar {background-color: var(--primaryColor);}

  .vuecal__cell.today, .vuecal__cell.current {background-color: white}

  .vuecal:not(.vuecal--day-view) .vuecal__cell.selected {
    background-color: #c1dbff;
  }

  .vuecal__cell.selected:before {
    border-color: #c1dbff;

  }

  .vuecal__body{
    background-color: white;
  }

  .vuecal__event.sport {background-color: rgba(0, 47, 100, 0.9);border: 1px solid  rgba(0, 47, 100, 0.9);;color: #fff;}

  td, th {
    padding: 10px 5px;
    border-radius: 0px;
  }

  .titulo {
    font-size: 2.2em;
    display: block;
    font-family: "Roboto", serif;
    font-weight: lighter;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem
  }

  .subtitulo {
    font-size: 1.5em;
    display: block;
    font-family: "Roboto",serif;
    font-weight: lighter;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem
  }

  .robotoFont {
    font-family: "Roboto", serif;
    font-weight: lighter;
  }
</style>
